KAKAO_NATIVE_APP_KEY=your_kakao_native_app_key_here
NAVER_CLIENT_ID=your_naver_client_id_here
NAVER_CLIENT_SECRET=your_naver_client_secret_here
NAVER_MAP_CLIENT_ID=your_naver_map_client_id_here
ALGOLIA_APP_ID=your_algolia_app_id_here
ALGOLIA_SEARCH_API_KEY=your_algolia_search_only_key_here
